# version: "3.9"
services:
    nginx:
        container_name: my-nginx
        depends_on:
            - backend
        restart: always
        build:
            context: .
            dockerfile: ./nginx/Dockerfile
        ports:
            - 8080:80
        volumes:
            - ./nginx/config/default.conf:/etc/nginx/conf.d/default.conf

    mysqldb:
        image: mysql:5.7
        restart: unless-stopped
        container_name: my-db
        command: --init-file /data/application/init.sql
        volumes:
            - ./initDB.sql:/data/application/init.sql
        environment:
            - MYSQL_ROOT_PASSWORD=123456
            - MYSQL_DATABASE=stack_overflow
        ports:
            - 3307:3306

    backend:
        depends_on:
            - mysqldb
        restart: unless-stopped
        container_name: my-backend
        build:
            context: ./stackBE
        environment:
            - DATABASE_PORT=3306
            - HOST=mysqldb
        ports:
            - 8000:8000
    # docker compose -p group22 up -d
